
<div class="container padded">
	<h2>The 3 hottest workplaces around<h2>
		<%= link_to "Workspaces", "/workspaces", class: "btn btn-primary" %>
		
	</div>

	<div class="card-container">
		<div class="container">
			<div class="row">

				<% Workspace.limit(3).each do |work|  %>

				<div class="col-xs-12 col-sm-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<% if work.pictures.empty?%>
						<%='http://www.allergiedietisten.com/wp-content/uploads/2015/08/antwerpen.jpg'  %>
						<%else  %>
						<%= work.pictures.last.photo.url %>
						<%end  %>);">
						<div class="card-category"><%=work.location  %></div>
						<div class="card-description">
							<h2>Wifi: <%=work.wifi %></h2>
							<p>Price: <%=work.price %> <%= work.price_unit%></p>
							<p><%=work.capacity%> square meters</p>
						</div>
						<!-- <img class="card-user avatar" src="images/seb.jpg"> -->
						<%= link_to "", "/workspaces/#{work.id}", class: "card-link" %>
					</div>
				</div>
				<% end  %>

			</div>
		</div>
	</div>