<div class='container padded'>
  <div class='row'>
    <div class='col-xs-6 col-xs-offset-3'>
      <div class='thumbnail'>
        <div class='form_box'>

          <h2><%= @user.first_name%> <%= @user.last_name%></h2>

          <%= image_tag @user.avatar, class: 'avatar-large' %>
          <hr>
          <p><b>First name</b>: <%= @user.first_name%></p>
          <p><b>Last name</b>: <%= @user.last_name%></p>
          <p><b>Member since</b>: <%= @user.created_at%></p>
          <p><b>Social media</b>: <%= @user.provider%></p>
          <p><b>Working style</b>:
            <%= render 'workers/show' %>
            <% if @user.id == current_user.id %>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#workermodal">
              Edit my working style
            </button>
            <% end %></p>
            <% if @user.id == current_user.id %>
            <%= link_to "Edit my credentials", edit_user_registration_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render 'workers/edit' %>
