<form action="/workspaces/search" class="form-inline margin">

	<input type="text" class="form-control input-lg" placeholder="city" name="city" value="<%= params[:city] %>">

	<input type="text" class="datepicker form-control input-lg" name="start_time" placeholder="<%= params[:start_time] %>" value="<%= params[:start_time] %>">

	<input type="text" class="datepicker form-control input-lg" name="end_time" placeholder="<%= params[:end_time] %>" value="<%= params[:end_time] %>">

	<button type="submit" class="btn btn-primary btn-lg">Search</button>

</form>

<script type="text/javascript">
$(document).ready(function(){


		$(function() {
			$('.datepicker').daterangepicker({
				"locale": {
					"format": 'DD-MM-YYYY'
				},
				"singleDatePicker": true,
				"showDropdowns": true,
				"showWeekNumbers": true,
				"autoApply": true,
				"opens": "center",
				"buttonClasses": "btn btn-lg"
			});
		});
	});
</script>


<!-- Include  Moment.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
