<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="middle navbar-wagon-brand">
    <%= image_tag "promises.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search" style="color:#FF8B2F"></i>
      </button>
    </form>

    <!-- Text link -->
    <% if !user_signed_in? %>
    <%= link_to "Sign in", new_user_session_path, { :class => "navbar-wagon-item navbar-wagon-link width" } %>
    <!--     <%= link_to "Sign up", new_user_registration_path, { :class => "navbar-wagon-item navbar-wagon-link width" } %> -->
    <!-- Text link -->
    <a href="#about" class="navbar-wagon-item navbar-wagon-link">About</a>
    <% end %>


    <!-- Profile picture and dropdown -->
    <% if user_signed_in? %>
      <!-- Button (call-to-action) -->
      <% if current_user.workspaces.empty? %>
        <%= link_to "Share a space", new_workspace_path, { :class => "avbar-wagon-item navbar-wagon-button btn" } %>
      <% else %>
        <%= link_to "Dashboard", user_dashboard_path(current_user), { :class => "avbar-wagon-item navbar-wagon-button btn" } %>
      <% end -%>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src= <%= current_user.avatar %> class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Log out", destroy_user_session_path , method: :delete %></li>
            </ul>
          </div>
        </div>
    <% end %>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
           <% if user_signed_in? %>
           <p class="navbar-wagon-item navbar-wagon-link">
            <%= link_to "Sign out", destroy_user_session_path , method: :delete %> </p>
            <li>
              <% if current_user.workspaces.empty? %>
              <%= link_to "Share a space", new_workspace_path, { :class => "navbar-wagon-item navbar-wagon-link" } %>
              <% else %>
              <%= link_to "Dashboard", user_dashboard_path(current_user), { :class => "navbar-wagon-item navbar-wagon-link" } %>
              <% end -%>
            </li>
            <% else %>
            <%= link_to "Sign in", new_user_session_path, { :class => "navbar-wagon-item navbar-wagon-link" } %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
